# Core functionality - changes here should be rare!
/src/app.py                   @duzcoder
/src/backend/database.py      @duzcoder
/src/backend/routers/auth.py  @duzcoder

# The frontend will need refactored soon to be more object oriented.
/src/static/   @duzcoder
